:root {
    --background: #333;
    --dark-background: #222;
    --shadow: #1c1c1c;
    --main: white;
    --on: lime;
    --off: red;
    --dull: #555;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}

/* Main Elements */
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--main);
    overflow: hidden;
    background: var(--dark-background);
    font-family: sans-serif;
}
button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: var(--dark-background);
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
hr {
    border: 1px solid #555;
    margin: 5px 0;
}

/* Grid Setup */
.grid-container {
    display: grid;
    padding: 10px;
    grid-gap: 15px;
    width: 100vw;
    height: 100vh;
    grid-template: repeat(5, minmax(0, 1fr)) / repeat(4, minmax(0, 1fr)));
    grid-template-areas:
        "timer timer status gyro side side"
        "cam cam cam gyro side side"
        "cam cam cam other side side"
        "cam cam cam other buttons buttons";
}

.grid-container > div {
    box-shadow: 3px 6px var(--shadow);
    background-color: var(--background);
    position: relative;
}

.grid-container > div > div {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.grid-container > div > div > * {
    box-sizing: border-box;
    position: relative;
}

/* Grid Items */
#timer {
    font-family: monospace;
    font-size: 17vh;
    grid-area: timer;
}

#gyro {
    grid-area: gyro;
}

#other {
    grid-area: other;
}

#status {
    grid-area: status;
}
#connect-button {
    width: 100%;
}
#test-button {
    width: 100%;
    margin-top: 2px;
}

#side {
    grid-area: side;
}

#buttons {
    grid-area: buttons;
}

#camera {
    grid-area: cam;
    background-size: cover;
    background-repeat: no-repeat;
}
#camera-label {
    padding: 3px;
    font-family: monospace;
    background-color: var(--background);
    opacity: 0.75;
    height: 6vh;
    font-size: 4vh;
}
#camera-status {
    padding: 3px;
    right: 3px;
    font-family: monospace;
    font-size: 4vh;
    text-align: right;
}

/* Connection Buttons */
#login {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8)
}
body.login #login {
    display: flex;
}
#login :disabled {
    opacity: 0.6;
}
#login > * {
    height: 40px;
}
#login > button {
    margin-left: 5px;
}
